<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>拒绝广告-搜小说</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="author" content="pan">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
	<link rel="stylesheet" href="stylesheets/style.css">
    <script src="http://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
</head>
<body>
    <img src="../images/icon.png" style="position: absolute;top: -9999px;z-index: -9;">