<% include header %>
	<img src="../images/icon.png" style="position: absolute;top: -9999px;z-index: -9;">
	<div class="container">
		<hgroup>
			<h1>拒绝广告-搜小说</h1>
		</hgroup>
		<section>
			<form action="/searchResult" method="get" class="search">
		        <input type="search" name="search" placeholder="What are you looking for?" class="forminput">
		        <button type="submit">Search</button>
		    </form>
		    <div class="history">
		    	<h3><span>搜索记录</span></h3>
		    	<section></section>
		    	<a href="javascript:;" class="clear">清除搜索记录</a>
		    </div>
		</section>
	</div>
	<script>
		$(function(){
			var _html='';
			var historyList=localStorage.getItem('history');
			if (historyList) {
				var arr=historyList.split(',');
				for (var i = 0; i < arr.length; i++) {
					if (arr[i]) {
						_html+='<a href="/searchResult?search='+arr[i]+'" style="color:'+getRandomColor()+'">'+arr[i]+'</a>';
					}
				}
				$(_html).appendTo('.history section');
				$('button').on('click',function(event) {
					var inputVal=$('.forminput').val();
					for (var i = 0; i < arr.length; i++) {
						if (arr[i]!=inputVal) {
							localStorage.setItem('history',inputVal+','+historyList);
						}
					}
				});
			}else{
				$('.history section').text('暂无搜索记录');
				$('.clear').css('display', 'none');
				$('button').on('click',function(event) {
					var inputVal=$('.forminput').val();
					localStorage.setItem('history',inputVal);
				});
			}

			$('.clear').on('click',function(event) {
				event.preventDefault();
				$('.history section').html('');
				localStorage.setItem('history','');
			});
		});
		function getRandomColor(){
			return "#"+("00000"+((Math.random()*16777215+0.5)>>0).toString(16)).slice(-6);
		} 
	</script>
<% include footer %>